label#imagem {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#imagem input {
    display: none;
}

label#imagem.tem-imagem {
    border: 0;
}

label#imagem.tem-imagem img {
    display: none;
}